@import "../../styles/variables.scss";

.banner {
    width: 100%;

    background-image: url(../../../assets/images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-block: 1.125rem;

    .wrapper {
        width: 28.125rem;
        margin: auto;
        padding: 2rem 0.6rem;

        color: $clr-gray;
        background-color: rgba($clr-white, 0.6);
        
        border-radius: 0.6rem;

        box-shadow: 0px 0px 10px 5px #00000034;

        .banner__title {
            text-decoration: underline;
            font-size: $fs-lg;
        }

        .banner__text {
            margin-block: 0.6rem;

            font-size: $fs-sm;
        }
    }
}
