<header class="banner">
    <app-navbar></app-navbar>
    <div class="wrapper">
        <h2 class="banner__title">Descubra o Universo com a <span>Stellar Jr.</span></h2>
        <p class="banner__text">
            Na Stellar, unimos paixão e conhecimento para trazer os mistérios do cosmos até você. Oferecemos consultoria científica, observações astronômicas guiadas, desenvolvimento de software e muito mais. Junte-se a nós e desvende os segredos do universo!
        </p>
        <app-cta></app-cta>
    </div>
</header>
